p.dotted{
border-style:dotted;
border-color:red;
border-width:5px 2px 5px 10px;
font-weight:bold;
text-align:center;}
p.two{
border-style:dashed;
border-color:green;
border-width:10px;
font-weight:bold;
}
p.three{
border-style:solid;
border-color: green blue yellow red;
border-width:4px;
font-weight:bold;}
p.four{
border-style:double;
border-color:lightgreen;
border-width:10px;
font-weight:bold;}
p.five{
border-style:groove;
border-color:lightyellow;
border-width:10px;}
p.six{
border-style:ridge;
border-color:darkred;
border-width:10px;}
p.si{
border-style:inset;
border-color:tomoto;
border-width:10px;}
p.s{
border-style:outset;
border-color:orange;
border-width:10px;}
p.os{
border-top-style:dotted;
border-right-style:solid;
border-bottom-style:solid;
border-left-style:solid;
border-width:10px;
border-color: green blue yellow red;}
p.os1{
margin:100px 100px 20px 50px;
border-style:dashed;

border-color: green blue yellow red;}
div.os2{
margin:auto;
width:auto;
height:100px;
color:white;
  text-shadow: 1px 1px orange ;
text-align:center;
border-style:dashed;
background-color:green;
padding:100px 100px 50px 150px;
p.os1{
margin:100px 100px 20px 50px;
border-style:dashed;

border-color: green blue yellow red;}


}

